.card {
    margin-top: 2.5rem;
}

.card img {
    width: 40rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 2rem;
}

.vid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.vid-card a {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}

.aud-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.aud-card p {
    margin-top: 1rem;
    width: 50rem;
}