@import url(card.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: #393030;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

.container { 
    display: flex;
    flex-direction: column;
    justify-content: ce;
    align-items: center;
    height: 42rem;
}

footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    color: white;
    background-color: black;
}

.con-container {
    background: #e6e6e6;
}